
body {
  font-family: sans-serif;
}

.smietniki {
  width: 215px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 20px;
  color: white;
}
h2 {
  margin: 0;
  padding: 20px;
  color: white;
}

.li{
margin: 0;
  padding: 5px;
  color: white;
  font-weight: 700;
}

.popup0 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 3%;
  top: 5%;
  width: 30%;
  height: 45%;
  overflow: auto;
  background-color: rgb(0, 119, 255);
}
.popup1 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 23%;
  top: 5%;
  width: 30%;
  height: 45%;
  overflow: auto;
  background-color: rgb(255, 0, 0);
}
.popup2 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 43%;
  top: 5%;
  width: 30%;
  height: 45%;
  overflow: auto;
  background-color: rgb(14, 122, 0);
}
.popup3 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 63%;
  top: 5%;
  width: 30%;
  height: 45%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
}

.popup0 button {
  margin: 20px;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 100px;
  font-weight: bold;
  font-size: 300%;
}
.popup1 button {
  margin: 20px;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 100px;
  font-weight: bold;
  font-size: 300%;
}
.popup2 button {
  margin: 20px;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 100px;
  font-weight: bold;
  font-size: 300%;
}
.popup3 button {
  margin: 20px;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 100px;
  font-weight: bold;
  font-size: 300%;
}

.glwnp{
  color: #000000;
  font-size: 60px;
  position: absolute;
  top: 20%; 
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(45, 112, 255);
  width: 57%;
  height: 9%;
  background-size: cover;
}
.glwnp1{
  color: #000000;
  font-size: 60px;
  position: absolute;
  top: 34%;   
  left: 45%;
  transform: translate(-50%, -120%);
  background-color: rgb(45, 112, 255);
  width: 33%;
  height: 8%;
  background-size: cover;
}

.glwglwnp{
  color: #ffffff;
  font-size: 100px;
  position: absolute;
  top: 3%;   
  left: 45%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  width: 60%;
  height: 15%;
  background-size: cover;
}

.tlo {
  padding-left: 50%;
}

